<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.langCode %>">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= htmlWebpackPlugin.options.languagesMeta %>
    <link rel="shortcut icon" href="https://csscolor.ru/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="Alexander Volkov">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.applicationName %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.seoDescription %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.seoKeywords %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.twitterTitle %>">
    <meta property="og:site_name" content="CSSColor.ru"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.previewImage %>">
    <meta property="og:image:width" content="256">
    <meta property="og:image:height" content="256">
    <meta property="og:image:type" content="image/png">
    <meta property="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.twitterTitle %>">
    <meta property="twitter:image" content="<%= htmlWebpackPlugin.options.previewImage %>">
    <meta name="yandex-verification" content="00c2d4c2cfecd1c6">
    <link rel="stylesheet" href="./secondary.css" media="print" onload="this.media='all'">
    <style>*{padding:0;margin:0;font-family:-apple-system,BlinkMacSystemFont,arial,sans-serif}body{font-size:16px;transition:all .1s linear 0s;background:#fff}body.night{transition:all .1s linear 0s;background:#000}.wrapper{position:relative}header.header{grid-area:header}header.header h1{font-weight:400;font-size:2.3em;color:#dcdce3;padding-top:14px}.palette{position:relative;z-index:1;display:grid;grid-template-rows:auto 70vh 45px auto auto;grid-template-columns:70vh 45px 28vh;grid-template-areas:"header header header" "color-picker tone-picker info" "alpha-picker theme-switcher tools" "example-text example-text example-text" "languages languages languages" "color-sets color-sets color-sets" "article article article" "comments comments comments" "footer footer footer";grid-gap:7px;justify-content:center;width:100%}.palette .info{grid-area:info;display:flex;flex-direction:column;justify-content:space-between;align-items:center;height:100%}.palette .info .select-wrapper{display:none}.palette .info .color-preview{grid-area:color-viewer;overflow:hidden;width:100%;height:20vh;border-radius:5px;background-color:#fff}.palette .info .inputs{grid-area:inputs;display:flex;flex-flow:column nowrap;align-items:center}.palette .info .inputs .caption{color:#616161;font-size:.7em}.palette .info .inputs label{margin:10px 0 2px}.palette .info .inputs input{box-sizing:border-box;transition:all .1s linear 0s;padding:.35em 0;text-align:center;color:#616161;border:#fff solid 1px;border-radius:5px;width:90%;font-size:1em;outline:none;background:#fff}.palette .info .inputs .hex-wrapper{width:90%;display:grid;grid-template-columns:20px 1fr;grid-template-areas:"lattice hex"}.palette .info .inputs .hex-wrapper .lattice{grid-area:lattice;color:#616161;font-size:1.4em;padding-top:10px}.palette .info .inputs .hex-wrapper input{grid-area:hex;width:100%}.palette .info .inputs input,.palette .info .inputs .rgb-wrapper{box-shadow:inset 0 2px 4px rgba(0,0,0,.15)}.palette .info .inputs .rgb-wrapper{transition:all .1s linear 0s;width:90%;border:#fff solid 1px;border-radius:5px;background:#fff}.palette .info .inputs .rgb-wrapper input{box-shadow:none;border-color:rgba(0,0,0,0);background:none;width:100%}.palette .info .inputs .rgb-wrapper .line{transition:all .1s linear 0s;position:relative;margin:0 auto;width:90%;height:1px;background:#d4d4d4}.palette .color-picker{grid-area:color-picker;position:relative;height:100%}.palette .color-picker .color-picker-background{z-index:10;position:absolute;top:0}.palette .color-picker .cursor-svg{z-index:11;overflow:visible;position:absolute;top:0;width:100%;height:100%}.palette .tone-picker{grid-area:tone-picker;position:relative;height:100%}.palette .tone-picker .tone-picker-background{z-index:10;position:absolute;top:0}.palette .tone-picker .cursor-svg{z-index:11;overflow:visible;position:absolute;top:0;width:100%;height:100%}.palette .alpha-picker{grid-area:alpha-picker;position:relative;height:100%}.palette .alpha-picker .alpha-picker-background{z-index:10;position:absolute;top:0}.palette .alpha-picker .cursor-svg{z-index:11;overflow:visible;position:absolute;top:0;height:100%}.palette .transparent-fill{transition:all .1s linear 0s;fill:#dbdbdb}.palette .color-picker-background,.palette .tone-picker-background,.palette .alpha-picker-background{overflow:hidden;border-radius:5px;width:100%;height:100%;touch-action:none}.palette .tone-picker-cursor-horizontal{display:none}.palette .tone-gradient-horizontal{display:none}.palette .tools{position:relative;grid-area:tools;display:flex;align-items:center}.palette .tools .dwnld-btn{background:#f2f2f2;width:45px;cursor:pointer;border-radius:5px;justify-content:center;align-items:center;width:45px;height:45px}.palette .tools .dwnld-btn svg{vertical-align:middle;fill:rgba(0,0,0,.25)}a{color:#00b3ff;font-size:1em;text-decoration:none}a:hover{color:#36c3ff}a:active{color:#0094d4}.example-text{grid-area:example-text;font-size:1em;width:100%;padding:5px 0;border:none}.example-text:hover{background:rgba(0,0,0,.05)}.example-text:focus{outline:none;background:none}article.article{grid-area:article}article.article p{font-size:1em;color:#454545;line-height:22pt;padding-top:5px}article.article a{font-size:1em}.languages{grid-area:languages;font-weight:bold}.languages a{margin-right:10px}.languages a:hover{color:#d00}.footer{grid-area:footer;text-align:center;padding:20px 0;font-size:1em}.footer a{font-size:1em}.non-select{user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;cursor:default}.scale-out-anim{-webkit-transition-property:none !important;-moz-transition-property:none !important;-o-transition-property:none !important;transition-property:none !important;opacity:0 !important}.cursor{opacity:0;touch-action:none}.mobile-background{display:none}.mobile-color-model-select{display:none}.theme-switcher{display:flex;justify-content:center;align-items:center;grid-area:theme-switcher;cursor:pointer;border-radius:5px;background:#f2f2f2}.theme-switcher svg{fill:rgba(0,0,0,.25);transform:rotate(22deg)}.dark-bckgr{z-index:3;display:none;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.3)}.dark-bckgr.visible{display:block}.night header.header h1{color:#3a3a3c}.night .palette .info .color-preview{background-color:#000}.night .transparent-fill{transition:all .1s linear 0s;fill:#404040}.night .palette .inputs input{transition:all .1s linear 0s;color:#787878;border-color:#000;box-shadow:none;background:#383838}.night .palette .inputs input:focus{border-color:#424242;background:#1f1f1f}.night .palette .inputs input::selection{background:#949494}.night .palette .inputs .rgb-wrapper{border-color:rgba(0,0,0,0);box-shadow:none;background:rgba(0,0,0,0)}.night .palette .inputs .rgb-wrapper input{transition:all .1s linear 0s;color:#787878;border-color:#000;box-shadow:none;background:#383838}.night .palette .inputs .rgb-wrapper input:focus{border-color:#424242;background:#1f1f1f}.night .palette .inputs .rgb-wrapper input::selection{background:#949494}.night .palette .inputs .rgb-wrapper.focus{border-color:rgba(0,0,0,0)}.night .palette .inputs .rgb-wrapper .line{transition:all .1s linear 0s;background:rgba(0,0,0,0)}.night .author-link{color:#8e8e93 !important}.night .info .donate-btn{color:#ccc;background:#4f4f4f}.night .info .donate-btn:hover{background:#545454}.night .info .donate-btn:active{background:#2b2b2b;color:#787878}.night .info .donate-btn svg{fill:#000}.night a{color:#878787}.night a:hover{color:#a3a3a3}.night a:active{color:#6b6b6b}.night a a{color:#ccc}.night a a:hover{color:#fff}.night a a:active{color:#aaa}.night .theme-switcher{background:#000}.night .theme-switcher svg{fill:rgba(255,255,255,.33)}.night .theme-switcher:hover svg{fill:rgba(255,255,255,.5)}.night .tools .dwnld-btn{background:#000}.night .tools .dwnld-btn svg{fill:rgba(255,255,255,.33)}.night .tools .dwnld-btn:hover svg{fill:rgba(255,255,255,.5)}.night .example-text:hover{background:rgba(255,255,255,.17)}.night .alpha-picker-background .transparent-white{display:none}.night article.article{position:relative;margin:0 auto;max-width:1361.41px}.night article.article h1{font-size:1.5em;color:#454545}.night article.article div.quotation div.text{background:#1c1c1e}.night article.article div.quotation div.text p{color:#636366 !important}.night article.article div.quotation div.grey-arrow .quotation-arrow{fill:#1c1c1e !important}.night article.article div.quotation-author{color:#454545}@media only screen and (max-device-width: 1125px){html,body{overscroll-behavior-y:contain}.theme-switcher,.palette .tools .dwnld-btn{display:none}.mobile-background{display:initial;position:fixed;z-index:1;top:0;left:0;width:100vw;height:100vh}.wrapper{position:fixed;top:0;left:0;right:0;bottom:0;z-index:2;display:flex;flex-direction:column;justify-content:flex-end}.wrapper .comments{display:none}.wrapper .palette{font-size:1em;display:grid;grid-template-rows:34px minmax(10px, 50px) minmax(100px, 94vw) minmax(10px, 50px);grid-template-columns:94vw;grid-template-areas:"info" "alpha-picker" "color-picker" "tone-picker";grid-gap:10px;justify-content:center;align-content:end;padding:3vw;box-sizing:border-box;margin:0;width:100%;height:100vh}.wrapper .palette .header{display:none}.wrapper .palette .info{order:1;display:flex;align-items:flex-end;font-size:1em}.wrapper .palette .info .color-preview{display:none}.wrapper .palette .info .inputs-wrapper{width:100%;height:100%}.wrapper .palette .info .inputs{display:grid;width:100%;grid-column-gap:10px;grid-template-columns:120px 1fr;grid-template-rows:auto;grid-template-areas:"select input";align-items:flex-end;justify-content:center;height:100%}.wrapper .palette .info .inputs .caption{display:none}.wrapper .palette .info .inputs input{display:none;width:100%;font-size:1em;padding:.2em 0 .15em 0;border-radius:100vw;color:#000;background:#fff}.wrapper .palette .info .inputs input:focus{background:#fff}.wrapper .palette .info .inputs .hex-wrapper .lattice{display:none}.wrapper .palette .info .inputs .rgb-wrapper,.wrapper .palette .info .inputs .hex-wrapper{display:none;border:none;width:100%;height:100%}.wrapper .palette .info .inputs .rgb-wrapper .line,.wrapper .palette .info .inputs .hex-wrapper .line{display:none}.wrapper .palette .info .inputs .selected{grid-area:input;display:initial}.wrapper .palette .info .select-wrapper{position:relative;grid-area:select;display:block;height:100%}.wrapper .palette .info .select-wrapper .select-substitute{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;background:#000;color:#fff;text-align:center;border-radius:100vw;padding:.2em 0 .15em 0;line-height:1.2em;font-size:1em}.wrapper .palette .info .select-wrapper select.mobile-color-model-select{opacity:0;box-sizing:border-box;display:block;position:absolute;top:0;right:0;bottom:0;left:0;width:100%;padding:0 auto;line-height:30px;outline:none;font-size:1em;font-weight:bold;color:#fff;text-align-last:center;text-align:-webkit-center;border:none;background:red;appearance:none;-webkit-appearance:none;-moz-appearance:none}.wrapper .palette .info .hex-input-lattice{display:none}.wrapper .palette .info .author{display:none}.wrapper .palette .info .donate-btn{display:none}.wrapper .palette .color-picker{order:3;width:100%;height:100%}.wrapper .palette .tone-picker{order:2;width:100%;height:100%}.wrapper .palette .tone-picker .tone-gradient-horizontal{display:initial}.wrapper .palette .tone-picker .tone-gradient-vertical{display:none}.wrapper .palette .alpha-picker .transparent-fill{fill:#bdbdbd}.wrapper .palette .tone-picker-cursor-vertical{display:none}.wrapper .palette .tone-picker-cursor-horizontal{display:initial}.wrapper .palette .tools{display:none}.wrapper .palette .example-text{display:none}.wrapper .palette .article,.wrapper .palette .footer,.wrapper .palette .languages{display:none}}.paint-filed{position:absolute;top:0;left:0;right:0;height:100%;overflow:hidden}.dwnld-popup,.dwnld-btn{display:none}</style>
    <%= htmlWebpackPlugin.options.googleAnalytics %>
    <%= htmlWebpackPlugin.options.googleAdsense %>
</head>
<body>
    <%= htmlWebpackPlugin.options.googleTagManager %>
    <div class="paint-filed" id="paint-field">
        <canvas id="picture-canvas" class="picture-canvas"></canvas>
    </div>
    <div class="mobile-background">
        <svg width="100%" height="100%">
            <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#transparent-pattern)"></rect>
            <rect id="mobileBackground" shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="#fff"></rect>
        </svg>
    </div>
    <div class="wrapper" id="wrapper">
        <div class="palette">
        <header class="header">
            <h1><%= htmlWebpackPlugin.options.title %></h1>
        </header>
        <div class="color-picker" id="colorPicker">
            <svg class="color-picker-background">
                <defs>
                    <linearGradient id="color-gradient-black" x1="0%" x2="0%" y1="0%" y2="100%">
                        <stop offset="0%" stop-color="rgb(0,0,0)" stop-opacity="0"></stop>
                        <stop offset="100%" stop-color="rgb(0,0,0)" stop-opacity="1"></stop>
                    </linearGradient>
                    <linearGradient id="color-gradient-white" x1="0%" x2="100%" y1="0%" y2="0%">
                        <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                        <stop offset="100%" stop-color="rgb(255,255,255)" stop-opacity="0"></stop>
                    </linearGradient>
                </defs>
                <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="#f00" id="color-picker-tone"></rect>
                <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#color-gradient-white)"></rect>
                <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#color-gradient-black)"></rect>
            </svg>
            <svg class="cursor-svg">
                <circle id="colorPickerCursor" class="cursor" cx="0" cy="0" r="6" stroke="#404040" stroke-width="2" fill="none"></circle>
            </svg>
        </div>
        <div class="tone-picker" id="tonePicker">
            <svg class="tone-picker-background">
                <defs>
                <linearGradient id="tone-gradient-vertical" x1="0%" x2="0%" y1="0%" y2="100%">
                    <stop offset="0%" stop-color="rgb(255,0,0)" stop-opacity="1"></stop>
                    <stop offset="16.6%" stop-color="rgb(255,0,255)" stop-opacity="1"></stop>
                    <stop offset="33.2%" stop-color="rgb(0,0,255)" stop-opacity="1"></stop>
                    <stop offset="49.8%" stop-color="rgb(0,255,255)" stop-opacity="1"></stop>
                    <stop offset="66.4%" stop-color="rgb(0,255,0)" stop-opacity="1"></stop>
                    <stop offset="83%" stop-color="rgb(255,255,0)" stop-opacity="1"></stop>
                    <stop offset="100%" stop-color="rgb(255,0,0)" stop-opacity="1"></stop>
                </linearGradient>
                </defs>
                <defs>
                    <linearGradient id="tone-gradient-horizontal" x1="0%" x2="100%" y1="0%" y2="0%">
                        <stop offset="0%" stop-color="rgb(255,0,0)" stop-opacity="1"></stop>
                        <stop offset="16.6%" stop-color="rgb(255,0,255)" stop-opacity="1"></stop>
                        <stop offset="33.2%" stop-color="rgb(0,0,255)" stop-opacity="1"></stop>
                        <stop offset="49.8%" stop-color="rgb(0,255,255)" stop-opacity="1"></stop>
                        <stop offset="66.4%" stop-color="rgb(0,255,0)" stop-opacity="1"></stop>
                        <stop offset="83%" stop-color="rgb(255,255,0)" stop-opacity="1"></stop>
                        <stop offset="100%" stop-color="rgb(255,0,0)" stop-opacity="1"></stop>
                    </linearGradient>
                </defs>
                <rect class="tone-gradient-vertical" shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#tone-gradient-vertical)"></rect>
                <rect class="tone-gradient-horizontal" shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#tone-gradient-horizontal)"></rect>
            </svg>
            <svg class="cursor-svg">
                <g id="tonePickerCursor" class="cursor">
                    <rect class="tone-picker-cursor-vertical" id="tonePickerCursorVertical" x="-2%" y="-3px" rx="3px" ry="3px" width="104%" height="6px" fill="none" stroke="#f5f5f5" stroke-width="2"></rect>
                    <rect class="tone-picker-cursor-horizontal" id="tonePickerCursorHorizontal" x="-3px" y="-2%" rx="3px" ry="3px" width="6px" height="104%" fill="none" stroke="#f5f5f5" stroke-width="2"></rect>
                </g>
            </svg>
        </div>
        <div class="info" id="info">
            <div class="inputs-wrapper">
                <svg class="color-preview" id="colorPreview">
                    <defs></defs>
                    <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#transparent-pattern)"></rect>
                    <rect shape-rendering="crispEdges" id="rectColor" x="0" y="0" width=100% height=100% fill="rgb(255, 255, 255)"></rect>
                </svg>
            <div class="inputs">
                <div class="select-wrapper">
                    <div class="select-substitute" id="mobileColorModelSelectSubstitude">HEX</div>
                    <select class="mobile-color-model-select" id="mobileColorModelSelect" name="mobileColorModelSelect">
                        <option>HEX</option>
                        <option>RGB</option>
                        <option>RGB %</option>
                        <option>HSV</option>
                        <option>CMYK</option>
                    </select>
                </div>
                <label for="hexInput" class="caption">HEX</label>
                <div class="hex-wrapper selected" id="hex-wrapper">
                    <div class="lattice">#</div>
                        <input type="text" id="hexInput" class="selected" value="fff" />
                    </div>
                    <label class="caption" for="rgbInput">RGB</label>
                    <div class="rgb-wrapper" id="rgb-wrapper">
                        <input type="text" id="rgbInput" value="255, 255, 255" />
                        <div class="line"></div>
                        <input type="text" id="rgbPercentageInput" value="1, 1, 1" />
                    </div>
                    <label for="hsvInput" class="caption">HSV</label>
                    <input type="text" id="hsvInput" value="0, 0, 100" />
                    <label for="cmykInput" class="caption">CMYK</label>
                    <input type="text" id="cmykInput" value="0, 0, 0, 0" />
                </div>
            </div>
        </div>
        <div class="alpha-picker" id="alphaPicker">
            <svg class="alpha-picker-background">
                <defs>
                    <linearGradient id="color-gradient" x1="0%" x2="100%" y1="0%" y2="0%">
                        <stop id="transparentGradientColorStart" offset="0%" stop-color="rgb(255,255,255)" stop-opacity="0"></stop>
                        <stop id="transparentGradientColorEnd" offset="100%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                    </linearGradient>
                    <pattern id="transparent-shifted-pattern" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect class="transparent-fill" shape-rendering="geometricPrecision" x="0" y="0" width="10" height="10"></rect>
                        <rect class="transparent-fill" shape-rendering="geometricPrecision" x="10" y="10" width="10" height="10"></rect>
                        <rect class="transparent-white" shape-rendering="geometricPrecision" x="10" y="0" width="10" height="10" fill="white"></rect>
                        <rect class="transparent-white" shape-rendering="geometricPrecision" x="0" y="10" width="10" height="10" fill="white"></rect>
                    </pattern>
                    <pattern id="transparent-pattern" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect class="transparent-fill" shape-rendering="geometricPrecision" x="0" y="0" width="10" height="10"></rect>
                        <rect class="transparent-fill" shape-rendering="geometricPrecision" x="10" y="10" width="10" height="10"></rect>
                        <rect class="transparent-white" shape-rendering="geometricPrecision" x="10" y="0" width="10" height="10" fill="white"></rect>
                        <rect class="transparent-white" shape-rendering="geometricPrecision" x="0" y="10" width="10" height="10" fill="white"></rect>
                    </pattern>
                </defs>
                <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#transparent-shifted-pattern)"></rect>
                <rect shape-rendering="crispEdges" x="0" y="0" width=100% height=100% fill="url(#color-gradient)" style="border-radius: 10px;overflow: hidden;"></rect>
            </svg>
            <svg class="cursor-svg">
                <rect id="alphaPickerCursor" class="cursor" x="0" y="-2%" rx="3" ry="3" width="6px" height="104%" stroke="#404040" stroke-width="2px" fill="none"></rect>
            </svg>
        </div>
            <div class="theme-switcher" id="themeSwitcher">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10 2c-1.82 0-3.53.5-5 1.35C7.99 5.08 10 8.3 10 12s-2.01 6.92-5 8.65C6.47 21.5 8.18 22 10 22c5.52 0 10-4.48 10-10S15.52 2 10 2z"/><path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
            <div class="tools">
                <div class="dwnld-btn" id="dwnld-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                        <path fill="none" d="M0 0h24v24H0V0z"/><path d="M16.59 9H15V4c0-.55-.45-1-1-1h-4c-.55 0-1 .45-1 1v5H7.41c-.89 0-1.34 1.08-.71 1.71l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.63-.63.19-1.71-.7-1.71zM5 19c0 .55.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1H6c-.55 0-1 .45-1 1z"/>
                    </svg>
                </div>
            </div>
            <div class="example-text" id="exampleText" contenteditable="true">
                <%= htmlWebpackPlugin.options.exampleText %>
            </div>
            <div class="languages">
                <%= htmlWebpackPlugin.options.languagesHTML %>
            </div>
            <article class="article">
                <%= htmlWebpackPlugin.options.gitlab %>
                <%= htmlWebpackPlugin.options.descriptionArticle %>
            </article>
            <div class='footer'>
                <div class='center'>
                    <%= htmlWebpackPlugin.options.year %>
                    &copy;
                    <a href="https://www.instagram.com/avo1kov/" class="content" id="linkToMe" target="_new" onclick="dataLayer.push({'event':'footer-link-click'});">
                        <%= htmlWebpackPlugin.options.authorName %>
                    </a>
                </div>
            </div>
        </div>
        <div class="dark-bckgr" id="dark-bckgr"></div>
        <div class="dwnld-popup" id="dwnld-popup">
            <div class="popup">
                <svg class="dwnld-trnsprnt">
                    <rect shape-rendering="crispEdges" x="0" y="0" rx="3px" ry="3px" width=100% height=100% fill="url(#transparent-pattern)"></rect>
                </svg>
                <div class="rect" id="rect">
                    <input type="number" id="img-width" placeholder="256" min="1" max="7680">
                    ✕
                    <input type="number" id="img-height" placeholder="256" min="1" max="4320">
                </div>
                <div class="btns">
                    <div class="btn cancel" id="dwnld-cancel"><%= htmlWebpackPlugin.options.cancel %></div>
                    <div class="dwnld-btns">
                        <a href="#" class="btn download-btn" id="gif-link">.gif</a>
                        <a href="#" class="btn download-btn" id="jpg-link">.jpg</a>
                        <a href="#" class="btn download-btn" id="png-link">.png</a>
                        <a href="#" class="btn download-btn" id="svg-link">.svg</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= htmlWebpackPlugin.options.yandexMetrica %>
</body>
</html>